/* You can add global styles to this file, and also import other style files */
body{
    background-color:brown;
}
.btn-dark:hover {
    border: 1px black solid;
    background-color: darkred;
    color: black;
    box-shadow: 0px 0px 5px  2px yellow;
  }